<div id="mainNavigation"> <nav role="navigation">
    <div class="py-3 text-center border-bottom">
      <img src="../../../assets/imgs/dungeons-manuals-logo.png" alt="dm-logo" class="invert dm-logo">
    </div>
  </nav>
  <div class="navbar-expand-md">
    <div class="navbar-dark text-center my-2">
<button
		type="button"
		class="btn" 
		(click)="isCollapsed = !isCollapsed"
		[attr.aria-expanded]="!isCollapsed"
		aria-controls="collapseExample"
	>
        <span class="navbar-toggler-icon"></span> <span class="align-middle">Menu</span>
	</button>
    </div>
    <div class="text-center mt-3" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
      <ul class="navbar-nav mx-auto flex-wrap gap-3">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="['/home']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/classes']">Classes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/subclasses']">SubClasses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/monsters']">Monsters</a>
        </li>
        <li class="nav-item">
		<a class="nav-link" [routerLink]="['/features']">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/races']">Races</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/spells']">Spells</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/traits']">Traits</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/auth', 'login']">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/auth', 'register']">Register</a>
        </li>
      </ul>
    </div>
  </div>
</div>

