<div class="container">

  <div class="align-items-center">
    <p class="h1 text-center">
      {{monsterDetails.name}}
    </p>
  </div>

  <div class="d-flex">

    <div>
      <img [src]="['../../../../assets/monsters/'+monsterDetails.index+'.png']" class="monster-icon rounded">
    </div>

    <div class="mx-4">
      <h4 class="purple">Stats</h4>
      <ul>
        <li>Strength <span class="purple">{{monsterDetails.strength}}</span></li>
        <li>Dexterity <span class="purple">{{monsterDetails.dexterity}}</span></li>
        <li>Constitution <span class="purple">{{monsterDetails.constitution}}</span></li>
        <li>Intelligence <span class="purple">{{monsterDetails.intelligence}}</span></li>
        <li>Wisdom <span class="purple">{{monsterDetails.wisdom}}</span></li>
        <li>Charisma <span class="purple">{{monsterDetails.charisma}}</span></li>
      </ul>
    </div>

  </div>


  <div class="row">
    <div class="col-12 row mb-5">
      <!-- <div class="col-6">
        <p class="fw-bold">Starting Equipment</p>
      </div> -->
      <!-- <div class="col-6">
        <div *ngFor="let p of monsterDetails.starting_equipment">
          <p>Type : {{p.equipment.name}}</p>
          <p>Quantity : {{p.quantity}} </p>

        </div>
      </div> -->
      <!-- </div>
    <div class="col-12 row mb-5">
      <div class="col-6">
        <p class="fw-bold">Starting Equipment Options</p>
      </div>
      <div class="col-6">
        <div *ngFor="let p of monsterDetails.starting_equipment_options">
          <p >Description : {{p.desc}}</p>
          <p >Type : {{p.type}} </p>

        </div>
      </div>
    </div>
    <div class="col-12 row mb-5">
      <div class="col-6">
        <p class="fw-bold">Proficiencies</p>
      </div>
      <div class="col-6">
        <span *ngFor="let p of monsterDetails.proficiencies">
          <p class="d-inline">{{p.name}}, </p>
        </span>
      </div>
    </div>
    <div class="col-12 row mb-5">
      <div class="col-6">
        <p class="fw-bold">Proficiencies Choices</p>
      </div>
      <div class="col-6">
        <div *ngFor="let p of monsterDetails.proficiency_choices">
          <p>Description : {{p.desc}}, </p>
          <p>Choose : {{p.choose}}, </p>
        </div>
      </div>
    </div>
    <div class="col-12 row mb-5">
      <div class="col-6">
        <p class="fw-bold">Sub-Classes</p>
      </div>
      <div class="col-6">
        <span *ngFor="let p of monsterDetails.subclasses">
		<a [routerLink]="['/subclasses',p.index]"><p class="d-inline">{{p.name}}, </p></a>
        </span>
      </div>
    </div>
    <div class="col-12 row mb-5">
      <div class="col-6">
        <p class="fw-bold">Saving Throws</p>
      </div>
      <div class="col-6">
        <span *ngFor="let p of monsterDetails.saving_throws">
          <p class="d-inline">{{p.name}}, </p>
        </span>
      </div>
    </div> -->
    </div>
  </div>
