.monster-icon {
  width: 400px;
  height: 400px;
  border: 2px solid var(--primary-purple);
}

.h1,
.purple {
  color: var(--primary-purple);
}

ul {
  list-style: none;
  padding-left: 0;
}

.mioContainer{
  display: flex;
  justify-content: center;
  max-width: 610px;
}
