<table>
  <thead>
    <tr>
      <th>Spell slot Lvl</th>
      <th>Damage</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="damage['1']">
      <td>1</td>
      <td>{{damage["1"]}}</td>
    </tr>
    <tr *ngIf="damage['2']">
      <td>2</td>
      <td>{{damage["2"]}}</td>
    </tr>
    <tr *ngIf="damage['3']">
      <td>3</td>
      <td>{{damage["3"]}}</td>
    </tr>
    <tr *ngIf="damage['4']">
      <td>4</td>
      <td>{{damage["4"]}}</td>
    </tr>
    <tr *ngIf="damage['5']">
      <td>5</td>
      <td>{{damage["5"]}}</td>
    </tr>
    <tr *ngIf="damage['6']">
      <td>6</td>
      <td>{{damage["6"]}}</td>
    </tr>
    <tr *ngIf="damage['7']">
      <td>7</td>
      <td>{{damage["7"]}}</td>
    </tr>
    <tr *ngIf="damage['8']">
      <td>8</td>
      <td>{{damage["8"]}}</td>
    </tr>
    <tr *ngIf="damage['9']">
      <td>9</td>
      <td>{{damage["9"]}}</td>
    </tr>
  </tbody>
</table>
