<table>
  <thead>
    <tr>
      <th>Spell slot Lvl</th>
      <th>Heal</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="heal['1']">
      <td>1</td>
      <td>{{heal["1"]}}</td>
    </tr>
    <tr *ngIf="heal['2']">
      <td>2</td>
      <td>{{heal["2"]}}</td>
    </tr>
    <tr *ngIf="heal['3']">
      <td>3</td>
      <td>{{heal["3"]}}</td>
    </tr>
    <tr *ngIf="heal['4']">
      <td>4</td>
      <td>{{heal["4"]}}</td>
    </tr>
    <tr *ngIf="heal['5']">
      <td>5</td>
      <td>{{heal["5"]}}</td>
    </tr>
    <tr *ngIf="heal['6']">
      <td>6</td>
      <td>{{heal["6"]}}</td>
    </tr>
    <tr *ngIf="heal['7']">
      <td>7</td>
      <td>{{heal["7"]}}</td>
    </tr>
    <tr *ngIf="heal['8']">
      <td>8</td>
      <td>{{heal["8"]}}</td>
    </tr>
    <tr *ngIf="heal['9']">
      <td>9</td>
      <td>{{heal["9"]}}</td>
    </tr>
  </tbody>
</table>
