<div class="container ">
  <div class="row">

    <div class="col-4">
      <p class="text-center h4">LV 0:</p>
      <div class="spell-list">
        <app-spell-table [spells]="level0"></app-spell-table>
      </div>
    </div>

    <div class="col-4">
      <p class="text-center h4">LV 1:</p>
      <div class="spell-list">
        <app-spell-table [spells]="level1"></app-spell-table>
      </div>
    </div>

    <div class="col-4">
      <p class="text-center h4">LV 2:</p>
      <div class="spell-list">
        <app-spell-table [spells]="level2"></app-spell-table>
      </div>
    </div>

    <div class="col-4">
      <p class="text-center h4">LV 3:</p>
      <div class="spell-list">
        <app-spell-table [spells]="level3"></app-spell-table>
      </div>
    </div>

    <div class="col-4">
      <p class="text-center h4">LV 4:</p>
      <div class="spell-list">
        <app-spell-table [spells]="level4"></app-spell-table>
      </div>
    </div>

    <div class="col-4">
      <p class="text-center h4">LV 5:</p>
      <div class="spell-list">
        <app-spell-table [spells]="level5"></app-spell-table>
      </div>
    </div>

    <div class="col-4">
      <p class="text-center h4">LV 6:</p>
      <div class="spell-list">
        <app-spell-table [spells]="level6"></app-spell-table>
      </div>
    </div>

    <div class="col-4">
      <p class="text-center h4">LV 7:</p>
      <div class="spell-list">
        <app-spell-table [spells]="level7"></app-spell-table>
      </div>
    </div>

    <div class="col-4">
      <p class="text-center h4">LV 8:</p>
      <div class="spell-list">
        <app-spell-table [spells]="level8"></app-spell-table>
      </div>
    </div>

    <div class="col-4">
      <p class="text-center h4">LV 9:</p>
      <div class="spell-list">
        <app-spell-table [spells]="level9"></app-spell-table>
      </div>
    </div>
  </div>
</div>
