tr{
  display:flex;
  flex-direction: column;
  text-align: center;
  height:70px;
  width:70px;
}

.stat{
  margin:0px 0;
  font-weight: bold;
}

.name-stat{
  font-size: 1.3em;
  font-weight: bold;
}

.mod{
  border: 2px solid var(--primary-purple);
  border-radius: 100%;
  width: 40%;
  background-color: white;
  margin:0 auto;
}

.purple,.mod {
  font-weight: bold;
  color: var(--primary-purple);
}

.border-stats{
  border:2px solid var(--primary-purple);
}
