<div class="container">
  <form class="py-5">
    <h1 class="h3 mb-3 fw-normal">Registrazione</h1>


    <div class="form-floating">
      <input type="text" class="form-control" id="floatingInput" placeholder="Inserisci il tuo nome">
      <label for="floatingInput">Nome</label>
    </div>
    <div class="form-floating">
      <input type="text" class="form-control" id="floatingInput" placeholder="Inserisci il tuo cognome">
      <label for="floatingInput">Cognome</label>
    </div>
    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Indirizzo Email</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Conferma Password">
      <label for="floatingPassword">Conferma password</label>
    </div>
    <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
  </form>
</div>
