.inputStyle{
  border-radius: 30px;
  margin-bottom: 1rem;

  &:hover{
    background-color: #A98CA9;
    transition:.3s linear;
  }
}

.btnReg:hover{
  background-color: green;
  transition:.3s linear;
}





