/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

:root{
  --primary-purple: #6222FF;
  --background-azure: #f1fcff;
}

.valid {

  color:green;

}

.invalid {

  color: red;

}

app-monster{

  height: calc(100vh - 400px);

}
