/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap');

*{
  font-family: 'Cabin', sans-serif;
}
a {
	text-decoration:none;
	color: var (--primary-purple);
}
:root{
  --primary-purple: #6222FF;
  --background-azure: #f1fcff;
}

.purple {
  font-weight: bold;
  color: var(--primary-purple);
}

.valid {

  color:green;

}

.invalid {

  color: red;

}

app-monster{

  height: calc(100vh - 400px);

}
